*{
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: 'Quicksand', sans-serif;
}

/* Top Bar stuff */

.wrapper{
    background-color: whitesmoke;
    overflow: hidden;

    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
}

.nav-area{
    float: right;
    margin-top: 30px;
}
.nav-area li{
    display: inline-block;
}
.nav-area li a{
    color: darkslategray;
    padding: 5px 20px;
    font-size: 1.6rem;
}
.nav-area li a:hover{
    color: grey;
    transition: all ease 0.2s;
}

.logo img{
    width: 100px;
    float: left;
    height: auto;
}

.page-Heading{
    margin-top: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page-Heading h1{
    font-size: 4rem;
    font-weight: 600;
}

/* Footer */

.foote{
    background-color: whitesmoke;
    box-sizing: border-box;
    color: black;
}

.foote h4{
    font-size: 1.2rem;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.footeContainer{
    max-width: 60vw;
    margin: auto;
    padding: 70px 0;
}

.foote-row{
    display: flex;
    flex-wrap: nowrap;
}

.foote-col{
    width: 25%;
    padding: 0 15px;
}

.foote-col a{
    font-size: 1rem;
    color: darkslategray;
    margin-bottom: 10px;
    padding-top: 2rem;
}
.foote-col a:hover{
    color: gray;
    transition: all ease 0.2s;
}

/* Back to top functionality */

.to-Top{
    background: white;
    position: fixed;
    bottom: 16px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px black solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #1f1f1f; 
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}

.to-Top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
}

/* Hamburgerlar menu */

:root{
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-Gap: 6px;
    --hamburger-margin: 8px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-Gap) * 2);
}

.HamMenu{
    --x-width: calc(var(--hamburger-height) * 1,414);
    
    display: flex;
    flex-direction: column;
    gap: var(--hamburger-Gap);

    width: max-content;
    position: absolute;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 6;
    cursor: pointer;

    position: fixed;

    visibility: hidden;
}

.HamMenu::before,
.HamMenu::after,
.HamMenu input{
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: black;
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
}

.HamMenu input{
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;
}

.HamMenu:has(input:checked)::before {
    rotate: 45deg;
    width: 11;
    translate: 0 4;
}

.HamMenu:has(input:checked)::after {
    rotate: -45deg;
    width: 11;
    translate: 0 4;
}

.HamMenu input:checked{
    opacity: 0;
    width: 0;
}

.sidebar {
    transition: translate var(--animation-timing);
    translate: -100%;
    padding: 0.5rem 1rem;
    padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1.5rem);
    background-color: whitesmoke;
    color: darkslategray;
    max-width: 15rem;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 200px;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

.HamMenu:has(input:checked) + .sidebar{
    translate: 0;
}

.sidebar li{
    display: inline-flex;
    flex-direction: column;
}
.sidebar li a{
    color: darkslategray;
    padding: 5px 20px;
    font-size: 1.2rem;
}
.sidebar li a:hover{
    color: grey;
    transition: all ease 0.2s;
}

@media only screen and (max-width: 830px){
    .wrapper{
        visibility: hidden;
    }

    .HamMenu{
        visibility: visible;
    }
}